---
- name: Ensure hostname in /etc/hosts is set to {{ hostname }}.
  become: yes
  lineinfile: 'regexp="^127\.0\.0\.1" dest=/etc/hosts create=yes state=present line="127.0.0.1\tlocalhost {{ hostname }}"'

- name: Ensure hostname is set.
  become: yes
  hostname: name={{ hostname }}

- name: Ensure Debian system is upgraded.
  become: yes
  apt:
    update_cache: yes
    upgrade: safe
    cache_valid_time: 86400

- name: Ensure basic tools are the latest.
  become: yes
  apt:
    state: latest
    update_cache: yes
    cache_valid_time: 86400
    name:
      - tmux
      - w3m
      - vim-nox
      - whois
      - nmap
      - mosh
      - gnupg
      - curl
